<mat-toolbar color="primary">
  <mat-toolbar-row fxLayoutAlign="center center">
    <div class="menu_button">
      <button mat-raised-button color="primary">
        <b>Start</b>
      </button>
    </div>
    <div class="menu_button">
      <button mat-raised-button color="primary">
        <b>O mnie</b>
      </button>
    </div>
    <div class="menu_button">
      <button mat-raised-button color="primary">
        <b>Umiejętności</b>
      </button>
    </div>
    <div class="menu_button">
      <button mat-raised-button color="primary">
        <b>Portfolio</b>
      </button>
    </div>
    <div class="menu_button">
      <button mat-raised-button color="primary">
        <b>Kontakt</b>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
