.background-image {
  background-image: url('../assets/img/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.oldlace-color {
  color: oldlace;
}

.background-blue {
  background-color: #7510F7;
  height: 80vh; //TODO do usunięcia
}

.skills {
  margin-top: -14rem;
  padding: 5rem 1.5rem;
}

.box {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
}

.columns {
  display: flex;
}

.column {
  flex-grow: 1;
  padding: 1rem;
  align-items: center;
  justify-content: center
}

.box .columns .column {
  border-right: 1px solid #E6ECF8;
}

.box .columns .column:last-child {
  border-right: none;
}

img.skill-icon {
  height: 60px;
  width: auto;
  margin: 5px;
}

.skill-name {
  font-family: Hammersmith One, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 1;
  display: block;
}

.max-height {
  height: calc(100% - 5rem);
}
