<!--<app-header></app-header>-->

<section class="background_image">

</section>

<section class="blue_background">
  <div class="container">
    <div class="column text-centered">
<!--      <h1>Cześć, nazywam sie Kamil Jasek i jestem Fullstack Developerem</h1>-->
    </div>
  </div>
</section>

<section class="skills">
  <div class="container is_narrow">
    <div class="box">
      <div class="columns">
        <div class="column">
          <h1 class="text-centered">Front-end</h1>
          <div class="image text-centered" *ngFor="let skill of frontendSkills">
            <img class="skill-icon" [src]="skill.imageUrl" alt="skill"/>
            <span class="skill-name">{{skill.skillName}}</span>
          </div>
        </div>
        <div class="column">
          <h1 class="text-centered">Back-end</h1>
          <div class="image text-centered" *ngFor="let skill of frontendSkills">
            <img class="skill-icon" [src]="skill.imageUrl" alt="skill"/>
            <span class="skill-name">{{skill.skillName}}</span>
          </div>
        </div>
        <div class="column">
          <h1 class="text-centered">Narzędzia i inne</h1>
          <div class="image text-centered" *ngFor="let skill of frontendSkills">
            <img class="skill-icon" [src]="skill.imageUrl" alt="skill"/>
            <span class="skill-name">{{skill.skillName}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blue_background">
  <div class="container is_narrow"></div>
</section>
