<app-header></app-header>
<section id="home" class="background-image">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col oldlace-color text-center">
        <h3>„Dochodzenie do mistrzostwa wymaga dwóch elementów: wiedzy i pracy" - te słowa Roberta C. Martina
          motywują mnie, aby swoją pracę wykonywać jeszcze lepiej, choć moja droga do mistrzostwa jest jeszcze
          daleka.</h3>
      </div>
    </div>
  </div>
</section>

<section id="omnie" class="background-blue">
  <div class="container max-height">
    <div class="row h-100 align-items-center">
      <div class="col oldlace-color text-center">
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id dignissim justo. Cras finibus ligula ut sem
          varius mollis. Vestibulum eleifend odio quis massa suscipit interdum. Cras ac tincidunt lorem. Maecenas mollis
          metus ut nulla tristique, a maximus nunc finibus. Nulla semper auctor lorem eget imperdiet. Curabitur dapibus
          ornare viverra. Integer ultrices elit et laoreet consequat. Vivamus ut venenatis nunc. Maecenas finibus felis
          nec pharetra maximus. Ut fringilla, diam ac aliquam vulputate, erat sem porta nisl, a condimentum mi felis id
          enimd. Aenean quis.</h4>
      </div>
    </div>
  </div>
</section>

<section id="skills" class="skills">
  <div class="container">
    <div class="box">
      <div class="columns">
        <div class="column">
          <h1 class="text-center">Front-end</h1>
          <div *ngFor="let skill of frontendSkills" class="image text-center">
            <img [src]="skill.imagePath" alt="skill" class="skill-icon"/>
            <span class="skill-name">{{skill.skillName}}</span>
          </div>
        </div>
        <div class="column">
          <h1 class="text-center">Back-end</h1>
          <div *ngFor="let skill of backendSkills" class="image text-center">
            <img [src]="skill.imagePath" alt="skill" class="skill-icon"/>
            <span class="skill-name">{{skill.skillName}}</span>
          </div>
        </div>
        <div class="column">
          <h1 class="text-center">Narzędzia i inne</h1>
          <div *ngFor="let skill of toolsSkills" class="image text-center">
            <img [src]="skill.imagePath" alt="skill" class="skill-icon"/>
            <span class="skill-name">{{skill.skillName}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="background-blue">
  <div class="container"></div>
</section>
