/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0;}

* {
  font-family: 'Lato', 'Arial', sans-serif;
}

a, a:hover, a:visited {
  text-decoration: none;
}

.text-centered {
  text-align: center !important;
}

.image img {
  height: auto;
  width: 100%;
}
